* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;

    /* --- spacing --- */
    --sp5: .313rem;
    --sp10: .625rem;
    --sp11: .688rem;
    --sp12: .75rem;
    --sp15: .938rem;
    --sp16: 1rem;
    --sp17: 1.063rem;
    --sp18: 1.125rem;
    --sp20: 1.3125rem;
    --sp25: 1.563rem;
    --sp28: 1.75rem;
    --sp30: 1.875rem;
    --sp35: 2.188rem;
    --sp38: 2.375rem;
    --sp40: 2.5rem;
    --sp50: 3.125rem;

    /*--- color var ---*/
    --pri-clr-blue1: hsl(219, 62%, 45%);
    --pri-clr-blue2: hsl(213, 62%, 43%);
    --neu-clr-light-gray: hsl(219, 43%, 93%);
    --neu-clr-grayish-blue: hsl(216, 9%, 11%);
    --neu-clr-white: hsl(0, 0%, 100%);
    --neu-clr-black: hsl(0, 0%, 0%);
    --acc-clr-bright-orange1: hsl(41, 88%, 45%);
    --acc-clr-bright-orange2: hsl(41, 63%, 55%);
}

body {
    background-color: var(--neu-clr-grayish-blue);
    color: var(--neu-clr-white);
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 1.6;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,
h2 {
    color: var(--acc-clr-bright-orange1);
}

h1 {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 5em;
    letter-spacing: 0.075em;
    line-height: 1;
    text-align: center;
}

h2 {
    color: var(--acc-clr-bright-orange2);
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.card {
    background-color: var(--neu-clr-grayish-blue);
    padding: 2em;
    position: relative;
    width: 500px;
    height: 250px;
    transition: 1s;
    ;
}

.card:hover {
    height: 500px;
}

.card .line {
    position: absolute;
    inset: 0;
    background: var(--neu-clr-black);
    overflow: hidden;
}

.card .line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 300px;
    background: linear-gradient(transparent, orange, orange, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .line::after {
    content: '';
    position: absolute;
    background-color: var(--neu-clr-black);
    inset:2px;
}

.h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}



.card:hover{
    .h1{
        display: none;
    }
    
}